body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 100px);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

button:hover {
    opacity: 0.85;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li span {
    flex-grow: 1; /* Sprawia, że tekst zadania wypełnia dostępną przestrzeń */
}

.delete-button {
    color: #ff6347;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.done {
    text-decoration: line-through;
    color: grey;
}

dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    position: fixed;
    width: 80%;
    max-width: 400px;
}

dialog button {
    margin-top: 20px;
    margin-right: 10px;
}

#confirm-delete-modal p {
    margin-bottom: 20px;
}

#task-content {
    font-weight: bold;
}

.time-done {
    margin-left: 1px;
    font-size: 0.8em;
    color: #6c757d;
    font-style: italic;
}

.list h3 {
    cursor: pointer;
    background-color: #ccc;
    padding: 5px;
}

.list ol {
    display: block;
    padding-left: 20px;
}

.list ol li {
    padding: 5px;
    margin-top: 2px;
    background-color: #f0f0f0;
}

.collapsed {
    display: none;
}

